<%- include('./partials/head') %>

<main>
  <h1>Toolboard</h1>
  <% principes.forEach(principe => { %>
  <article>
    <section class="inleiding">
      <h2><%= principe.titel %></h2>
      <%- principe.beschrijving.html %>
    </section>
    <section class="richtlijnen">
      <% principe.richtlijnen.forEach(richtlijn => { %>


        <!-- %= richtlijn.titel %
        %- richtlijn.uitleg.html % -->

      <% }) %>
    </section>
  </article>
  <% }) %>
</main>

<%- include('./partials/foot') %>

