@font-face {
    font-family: mainFont;
    src: url('./assets/mainFont.woff');
}

@font-face {
    font-family: textFont;
    src: url('./assets/textFont.woff');
}

:root {
    --main-pink: #B9005F;
    --main-fade: #E30059;
    --clr-yellow: #FFD05F;
    --clr-lightblue: #46BECD;
    --clr-green: #25AE93;
    --clr-blue: #606eb3;
    --sup-purple: #6A4955;
    --sup-grey: #C9B5B2;
    --mainFont: mainFont;
    --textFont: textFont;
}

* {
    box-sizing: border-box;
    font-family: var(--mainFont);
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #f5f4f4;
    min-height: 100%;
}

header {
    width: 100%;
    height: 5em;
    display: block;
}

header .logo {
    width: auto;
    height: 5em;
    border: 4px solid #fff;
    border-radius: 0 0 3em 0;
    background-color: #fff;
    padding: 0.5em 1.2em;
    position: absolute;
}

.navigation {
    width: 100%;
    height: 2.5em;
    background-color: #fff;
    float: inline-end;
    position: inherit;
}

.navigation ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 4px solid #fff;
    padding: 0.5em 1.2em;
    list-style-type: none;
}

.navigation ul li {
    padding: 0.5em 0.7em;
    font-size: 1.2em;
}

.navigation ul li a{
    text-decoration: none;
}

.navigation ul li a:visited{
    color: black;
}

.navigation ul li a:hover{
    color: var(--main-pink);
    transition: .2s;
}

.navigation::before {
    content: "";
    width: 3.5em;
    height: 3.5em;
    position: absolute;
    top: 2.5em;
    left: 13.8em;
    box-shadow: 0.1em -1em 0 -0.2em white;
    border-radius: 60% 0 0 0;
}

main {
    /* background-color: bisque; */
    height: 100%;
    width: 100%;
}